body{
  background-color: hsla(271, 50%, 58%, 0.421);
  font-style: oblique;


}
header{
color: blue;
border-color: rgb(214, 158, 73);
}
h1{
  color: black;
  font-size: x-large;
  font-style: initial;
  
}
nav{
  background-color: blueviolet;
  
}
h1{color: black;
background-color: blue;
}
h2{color: blue;
font-size: larger;
}
img{
  border-radius: 50%;
  border:25pax solid black
}
